@import '~variables'
@import './maps'
@import './cards'

.q-layout {
  background-color: $primary;
}

.q-list {
  color: white;
  background-color: $primary;
}

.q-list-header {
  color: white
}

.q-item-label {
  color: white
  text-transform: uppercase;
  font-weight:200;
}

.q-item-sublabel {
  color: white
  font-style: italic;
}

.q-item-side {
  color: white
}

.street {
  font-family: streetFont;
  font-size: 20px;
  cursor: pointer;
}

.q-toolbar-title {
  font-weight:200;
}
.q-toolbar-subtitle {
  font-family: streetFont;
}
