// app global css
 .marker {
    //background-image: url('../icons/marker-15.svg');
    background-size: cover;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  .mapboxgl-popup {
  }

 .mapboxgl-popup-content-wrapper {
    padding: 0px;
  }

  .mapboxgl-popup-content {
    //border-radius: 50%;
    padding: 0px;
    max-width: 400px;
  }

  .mapboxgl-popup-close-button {
    display: none;
  }

  .q-card  {
    z-index: 100
  }
  .q-card-media  {
    max-height: 150px;
    max-width: 300px;
    object-fit: cover;
  }

  .q-list {
    color: white;
    background-color: #EB459B;
  }

  .q-list-header {
    color: white
  }

  .q-item-sublabel {
    color: white
  }

  .q-item-side {
    color: white
  }
