@import '~variables'
// app global css
.marker {
  //background-image: url('../icons/marker-15.svg');
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.mapboxgl-popup {
}

.mapboxgl-popup-tip {
  border-bottom-color: $primary;
  border-top-color: $primary;
  border-top-color: $primary;
}

.mapboxgl-popup-anchor-bottom {
}

.mapboxgl-popup-content-wrapper {
  padding: 0px;
}

.mapboxgl-popup-content {
  background-color: $primary;
  //border-radius: 50%;
  padding: 0px;
  max-width: 400px;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: $primary;
    }
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: $primary;
    }
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: $primary;
    }
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: $primary;
    }
